.axisX {
    font-size: 10pt;
}

.axisY {
    font-size: 10pt;
}

.axis {
    font-size: 8pt;
}

circle {
    fill-opacity: .7;
}

.title {
    font-size: 15pt;
    font-family: sans-serif;
    text-anchor: middle;
    color: black;
    z-index: 1001;
}

.label {
    font-size: 12pt;
    font-family: sans-serif;
    text-anchor: middle;
    z-index: 1001;
}

.bars {
    fill-opacity: .7;
}

.legend {
    text-anchor: middle;
    font-size: 9pt;
    font-family: sans-serif;
}

.selected {
    stroke: black;
    stroke-width: 3px;
    fill-opacity: 1;
}

svg {
    width: 40vw;
    height: 40vw;
    border: 0.5px dashed;
    margin-bottom: 5px;
}